<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829302311054-sdd2fagq9aq77bvm5ocbktij4lpgg5mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829302311054-sdd2fagq9aq77bvm5ocbktij4lpgg5mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBL4jZDDN8zVOVAeQ01TgIeadQNiUS2lE8</string>
	<key>GCM_SENDER_ID</key>
	<string>829302311054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kami.TikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-aef1b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-aef1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829302311054:ios:3a6f1a91135d305f87e1df</string>
</dict>
</plist>